html, body {
    background-color: #f8f8f8;
    /*background-color: transparent;*/
}

#side-menu {
  margin-top: 50px;
}

#map-canvas {
  height: 100%;
  width: calc(100% - 300px);
  background: transparent url(../img/loading_clear.gif) no-repeat center center;
  position: absolute;
}