html, body {
  width: 100%;
  height: 100%;
  font-family: arial;
}

/*#navbar {
  border: 0;
  margin-bottom: 0; 
}*/

/*#navbar-container {
  margin-left: 0;
}*/

/*#main-container {
  height: calc(100% - 50px);
  width: 100%;
  padding: 0 0 0 0;
  position: absolute;
  margin-top: 50px;
}*/

#resize-icon{
  float:right;
  padding-right: 15px;
  padding-top:20px;
}

.col-lg-12 {
  padding: 0 0;
  height: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
  background: transparent no-repeat center center;
  position: relative;
  z-index: 10;
}

#loading-canvas {
  height: 100%;
  width: 100%;
  background: #CCC url(../img/loading_clear.gif) no-repeat center center;
  /*background: black center center;*/
  position: relative;
  z-index: 1000;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*padding-left: 250px;*/
}

#page-content-wrapper {
    position: fixed;
    /*width: calc(100% - 250px);*/
    z-index: 2;
    width: 100%;
    height: 100%;

}






/*custom font for text*/
/*@import url(http://fonts.googleapis.com/css?family=Nunito);*/
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
/*@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);*/

/*Basic reset*/
/** {margin: 0; padding: 0;}*/

/*.dropdown-menu {
  z-index: 11111;
  display: list-item;
}
*/
