html, body {
  width: 100%;
  height: 100%;
}

/*#navbar {
  border: 0;
  margin-bottom: 0; 
}*/

/*#navbar-container {
  margin-left: 0;
}*/

/*#main-container {
  height: calc(100% - 50px);
  width: 100%;
  padding: 0 0 0 0;
  position: absolute;
  margin-top: 50px;
}*/

#resize-icon{
  float:right;
  padding-right: 15px;
  padding-top:20px;
}

.col-lg-12 {
  padding: 0 0;
  height: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
  background: transparent no-repeat center center;
  position: relative;
  z-index: 10;
}

#loading-canvas {
  height: 100%;
  width: 100%;
  background: transparent url(../img/loading_clear.gif) no-repeat center center;
  position: relative;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-left: 250px;
}

#page-content-wrapper {
    position: fixed;
    width: calc(100% - 250px);
    height: 100%;
}






/*custom font for text*/
/*@import url(http://fonts.googleapis.com/css?family=Nunito);*/
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
/*@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);*/

/*Basic reset*/
/** {margin: 0; padding: 0;}*/

body {
  /*background: #4EB889;*/
  /*font-family: Nunito, arial, verdana;*/
  font-family: arial;
}
#brand {
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  margin: 0;
  cursor: pointer;
  background: #000;
}

#accordian {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  /*background: #004050;*/
  width: 250px;
  /*margin: 100px auto 0 auto;*/
  color: white;
  /*Some cool shadow and glow effect*/
  box-shadow: 
    0 5px 15px 1px rgba(0, 0, 0, 0.6), 
    0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian h3 {
  font-size: 16px;
  line-height: 34px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  /*fallback for browsers not supporting gradients*/
  /*background: #003040;  */
  background: #000;
  /*background: linear-gradient(#003040, #002535);*/
}
/*heading hover effect*/
#accordian h3:hover {
  /*text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);*/
    background: #111;
  border-left: 5px solid lightgreen;
}
/*iconfont styles*/
#accordian h3 span {
  font-size: 18px;
  margin-right: 10px;
}
/*list items*/
#accordian ul {
  padding-left: 0;
}

#accordian li {
  list-style-type: none;
}
/*links*/
#accordian ul ul li{
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 27px;
  display: block;
  padding: 0 30px;
  /*transition for smooth hover animation*/
  transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li:hover {
  background: #111;
  border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
  display: none;
}
#accordian li.active ul {
  display: relative;
}
