<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A fertilizer usage profitability forecast tool for Ethiopian agriculture">
    <meta name="author" content="Alex Maass">

    <title>AgroEthiopia</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <!-- Navbar -->
<!--     <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container" id="navbar-container">
            <span>
                <button type="button" class="btn btn-default glyphicon glyphicon-cog" aria-hidden="true"></button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">AgroEthiopia</a>
                </div>
            </span>
        </div>
    </nav> -->

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- Sidebar Header -->
                <li class="sidebar-brand">
                    <a href="#">
                        <span id="brand-name">AgroEthiopia</span>
                        <span id="resize-icon" class="glyphicon glyphicon-th-list"></span>
                    </a>
                </li>
                <!-- Sidebar content -->
                <li>
                    <a id="map-menu"><span class="glyphicon glyphicon-map-marker"></span> Map
                    </a>
                    <div id="map-submenu" class="collapse in">
                        <div><span class="glyphicon glyphicon-map-marker"></span> Map1 </div>          
                        <div><span class="glyphicon glyphicon-map-marker"></span> Map2</div>
                    </div>
                </li>
<!--                 <li>
                    <a href="#"><span class="glyphicon glyphicon-map-marker"></span> Map
                    </a>                    
                    <a href="#"><span class="glyphicon glyphicon-map-marker"></span> Map
                    </a>
                </li> -->
<!--                 <li>
                    <div id="users" class="list-group subitem collapse in"> 
                        <a href="#" class="list-group-item"> Users</a>
                        <a href="#" class="list-group-item"> Create User</a>
                        <a href="#" class="list-group-item"> Create Group</a>
                </li> -->
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="col-lg-12">
                <div id="map-canvas" style="display:none;"></div>
                <!-- <div id="loading-canvas"></div> -->
                <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
            </div>
        </div>

        <!-- <div class="col-lg-12" id="main-container">
            <div id="map-canvas" style="display:none;"></div>
            <div id="loading-canvas"></div>
        </div> -->
        <!-- End Page Content -->
    </div>
    <script src="{{ url_for('static', filename='js/plugins/jquery-1.11.1.min.js') }}"></script>       
    <script src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>   
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>   
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
    // $("#menu-toggle").click(function(e) {
    //     e.preventDefault();
    //     $("#wrapper").toggleClass("toggled");
    // });
    $("#resize-icon").click(function(e) {
        e.preventDefault();
        //$("#wrapper").toggleClass("toggled");
        $("#wrapper").toggleClass("toggled").promise().done(function(e) {
            google.maps.event.trigger(map,"resize");
            console.log("should have resized");
        });
    });
    $("#map-menu").click(function(e) {
        e.preventDefault();

        $(".collapse").collapse();
    });

    </script>
</body>

</html>

