<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A fertilizer usage profitability forecast tool for Ethiopian agriculture">
  <meta name="author" content="Alex Maass">

  <title>AgroEthiopia</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>

<body>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar">
      <ul>
        <!-- Title Bar -->
        <li>
          <div id="sidebar-title"><img src="{{ url_for('static', filename='img/acacia_tree_clear.png') }}" style="height:30px; width:40px;"> Profitability Forecast</div>
        </li>
        <!-- Mode Selector -->
        <li>
          <div class="btn-group" role="group" id="mode-select">
            <a type="button" class="btn btn-default" href="/map">Map</a>
            <a type="button" class="btn btn-default" href="/table" style="background: #337ab7;">Table</a>
          </div>
        </li>
        <!-- Sections -->
        <!-- Profitability Section -->
        <li>
          <div class="section-header">
            <span class="glyphicon glyphicon-usd"></span>Profitability
          </div>
          <ul class="section-list">
            <li>Current Month</li>
            <li>Current Week</li>
            <li>Current Year</li>
            <li>Next Month</li>
            <li>Next Week</li>
            <li>Next Year</li>
          </ul>
        </li>

        <!-- Weather Data Section -->
        <li>
          <div class="section-header">
            <span class="glyphicon glyphicon-cloud"></span>Weather
          </div>
          <ul class="section-list">
            <form>
              <li>
                Start Date 
                <input class="datepicker" data-date-format="mm/dd/yyyy" value="01/01/1980" id="weather-datepicker-start"></input>
              </li>
              <li>
                End Date 
                <input class="datepicker" data-date-format="mm/dd/yyyy" value="01/11/1980" id="weather-datepicker-end"></input>
              </li>
              <li>
                Variable 
                <select class="form control variable-selector" id="weather-var-selector">
                  <option>Solar Rad.</option>
                  <option>Max Temp.</option>
                  <option>Min Temp.</option>
                  <option>Rain</option>
                  <option>Wind</option>
                </select>  
              </li>
              <li>
                <button type="button" class="btn btn-default btn-submit" id="weather-submit">Submit</button>
              </li>
            </form>
          </ul>
        </li>
      </ul>
    </div>
    <!-- End Sidebar -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="col-lg-12">
        <!-- Loading Background -->
        <div id="loading-canvas" style="display: none;"></div>
        <!-- Loading of the table -->
        <table id="table-canvas">  
          <h3 id="table-placeholder" style="text-align: center;">Please select the data you would like to view from the sidebar on the left</h3>
        </table>
      </div>
    </div>
    <!-- End Page Content -->
  </div>
  <script src="{{ url_for('static', filename='js/plugins/jquery-1.11.1.min.js') }}"></script>       
  <script src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>   
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-datepicker.js') }}"></script>
  <script>
    // Variable definitions
    var variable;
    var date;
    var json = null;
    var mapdata = null;
    
    // Menu sliding
    $("#sidebar .section-header").click(function(){
        //slide up all the link lists
        $("#sidebar ul .section-list").slideUp();
        //slide down the link list below the h3 clicked - only if its closed
        if(!$(this).next().is(":visible"))
        {
            $(this).next().slideDown();
        }
    })

    // Datepicker javascript initializer
    $('.datepicker').datepicker({
      autoclose: true,
      clearBtn: true,
      format: "mm/dd/yyyy"
    });

// Data lookup request handler for weather information
    $("#weather-submit").click(function() {
      // Get the values from the selector and the datepicker
      variable = $("#weather-var-selector").val();
      start_date = $("#weather-datepicker-start").val();
      end_date = $("#weather-datepicker-end").val();
      var d1 = Date.parse(start_date);
      console.log(d1.toString());
      var d2 = Date.parse(end_date);
      console.log(d2.toString());
      if (d1 > d2) {
          alert ("Error: Start date precedes end date");
      }
      else {
        // Covers up the map with loading screen while the data is collected & processed
        $("#loading-canvas").show();
        // Depending on which variable type is selected, rename to adhere to backend standard
        switch (variable) {
          case "Solar Rad.":
            variable = "srad";
            break;
          case "Max Temp.":
            variable = "tmax";
            break;
          case "Min Temp.":
            variable = "tmin";
            break;
          case "Rain":
            variable = "rain";
            break;
          case "Wind":
            variable = "wind";
          default:
        }
        // Do an AJAX request to fetch the desired data from the backend
        $.ajax({
          url: "/lookup",
          type: "POST",
          data: {
            start_date:   start_date,
            end_date:     end_date, 
            variable:     variable
          },
          success: function(result){
            // If the data fetch is successful, parse the resulting data into JSON format
            json = JSON && JSON.parse(result) || $.parseJSON(result);
            console.log("Response complete");
            tableCreate();
            // Hide the loading canvas to reveal the updated map
            $("#loading-canvas").hide();
          }
        });
      }
    });

    // Function to create a table using data stored in the json variable. 
    function tableCreate(){
      // Hides the placeholder text
      $("#table-placeholder").hide();
      // Gets the table-canvas object
      var tbl  = document.getElementById('table-canvas');
      tbl.style.width  = '100%';
      tbl.style.border = "1px solid black";
      tbl.style.textAlign = "center";

      // Creates the table header
      var header = tbl.createTHead();
      var th = header.insertRow();
      var th1 = th.insertCell();
      th1.appendChild(document.createTextNode("Woreda ID"));
      th1.style.border = "1px solid black";
      th1.style.width = "50%";
      th1.style.fontWeight = "bold";
      var th2 = th.insertCell();
      var disp_variable = variable.charAt(0).toUpperCase() + variable.slice(1);
      th2.appendChild(document.createTextNode(disp_variable));
      th2.style.border = "1px solid black";
      th2.style.width = "50%";
      th2.style.fontWeight = "bold";

      // For each mapping in the returned json object, create a row in the table.
      for (var key in json) {
        if (json.hasOwnProperty(key)) {
          var tr = tbl.insertRow();
          var td1 = tr.insertCell();
          td1.appendChild(document.createTextNode(key));
          td1.style.border = "1px solid black";
          td1.style.width = "50%";
          var td2 = tr.insertCell();
          td2.appendChild(document.createTextNode(json[key]));
          td2.style.border = "1px solid black";
          td2.style.width = "50%";
        }
      }
    }
  </script>
</body>

</html>